* {
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav {
  display: flex;
  gap: 1vh;
  margin: 10px 0 50px 0;
}
.grid {
  height: 70vh;
  width: 70vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 2px;
  row-gap: 2px;
}
.grid > div {
  border: 2px dotted black;
  border-radius: 10px;
}
.nav > button {
  font-size: 20px;
  font-family: monospace;
  border: 3px solid black;
  padding: 10px;
  border-radius: 10px;
}
.nav > button:hover {
  cursor: pointer;
  background-color: aliceblue;
}
.nav > button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#canvas-title {
  margin-top: 20px;
  font-size: 50px;
  font-family: monospace;
}
#reset:hover {
  background-color: greenyellow;
}
#erase:hover {
  background-color: tomato;
}
